  <h1>Add a Product</h1>
  <!-- objects and properties nothing scary -->
  <form ng-submit = 'addproduct()'>
    Product Name: 
    <input type="text" ng-model="new_product.name" placeholder="name">
    Image(url): 
    <input type="text" ng-model="new_product.img_url" placeholder="http://">
    Description: 
    <input type="text" ng-model="new_product.description">
    Initial Quantity: 
    <input type = 'number' ng-model="new_product.quantity">
    <!-- addfriend() is a method we are going to make in the angular controller -->
    <input type="submit">
  </form>
  <h1>Products</h1>
  <table>
    <tr>
      <td>Product Name</td>
      <td>Product Image</td>
      <td>Product Description</td>
      <td>Product Quantity</td>
      <td>Created Date</td>
      <td>Actions</td>
    </tr>
    <!-- here is where we are going to display friends -->
    <tr ng-repeat="product in products | filter: filter_name">
      <td>{{product.name}}</td> 
      <td><img src = '{{product.img_url}}'></td>
      <td>{{product.description}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.created_at}}</td>
      <td><a href = '' ng-click = 'deleteproduct(product)'>Delete</a></td>
    </tr>
  </table>